# Practical 2
## Aim: Demonstrate the basics of Python programming using expressions, variables, and user inputs.

1. Write a python program to print “Welcome to UVPCE”.

In [ ]:
# Task 1
print("Welcome to UVPCE")

Welcome to UVPCE

2. Write a python program which takes student information such as Name, Enrollment Number, Branch, Age, Email and Mobile number from user and print as following:<br>
  “===========================”<br>
  Your Name<br>
  Your Enrollment No.<br>
  Branch: CE/IT <br>
  Age:XX years<br>
  Email:your mail ID<br>
  Mobile No: your No. <br>
  “===========================” <br>

In [ ]:
# Task 2
name = input("Give Your Name: ")
enroll = input("Give Your Enroll No.: ")
branch = input("Give Your Branch (CE/IT): ")
age = input("Give Your Age: ")
email = input("Give Your Email: ")
phone = input("Give Your Phone No.: ")

print(f'''
===========================
Your Name: {name}
Your Enrollment No. : {enroll}
Branch: {branch}
Age: {age} years
Email: {email}
Mobile No: {phone}
===========================
''')

Give Your Name: Vatsal
Give Your Enroll No.: 142
Give Your Branch (CE/IT): CE
Give Your Age: 21
Give Your Email: 24012011142@gnu.ac.in
Give Your Phone No.: 1234567890

===========================
Your Name: Vatsal
Your Enrollment No. : 142
Branch: CE
Age: 21 years
Email: 24012011142@gnu.ac.in
Mobile No: 1234567890
===========================

3. Write python programs to evaluate the following expressions to demonstrate the use of operator precedence and associativity.
- 12 + 3 - 4 / 2 < 3 + 13
- X = (10 * 2) %  2 << 4++

In [ ]:
# Task 3 (a)
evalution1 = 12 + 3 - 4 / 2 < 3 + 13
print(evalution1)
print(type(evalution1))

True
<class 'bool'>

In [ ]:
# Task 3 (b)
# Python Doesn't Have ++ or -- Oprators
evalution2 = X = (10 * 2) %  2 << 4++
print(evalution2)

SyntaxError: invalid syntax (ipython-input-3346675143.py, line 3)

4. Write a python program to display data types of different variables.

In [ ]:
test_int = 10
print(f"Value: {test_int}, Type: {type(test_int)}")
test_str = 'V'
print(f"Value: {test_str}, Type: {type(test_str)}")
test_complex = 1 + 2j
print(f"Value: {test_complex}, Type: {type(test_complex)}")
test_float = 21.3
print(f"Value: {test_float}, Type: {type(test_float)}")
test_bool = True
print(f"Value: {test_bool}, Type: {type(test_bool)}")
test_tuple = (1,"Vatsal")
print(f"Value: {test_tuple}, Type: {type(test_tuple)}")
test_list = [1, "Vatsal"]
print(f"Value: {test_list}, Type: {type(test_list)}")
test_dict = {1:"Vatsal"}
print(f"Value: {test_dict}, Type: {type(test_dict)}")
test_set = {1, 2, 3}
print(f"Value: {test_set}, Type: {type(test_set)}")
test_none = None
print(f"Value: {test_none}, Type: {type(test_none)}")

Value: 10, Type: <class 'int'>
Value: V, Type: <class 'str'>
Value: (1+2j), Type: <class 'complex'>
Value: 21.3, Type: <class 'float'>
Value: True, Type: <class 'bool'>
Value: (1, 'Vatsal'), Type: <class 'tuple'>
Value: [1, 'Vatsal'], Type: <class 'list'>
Value: {1: 'Vatsal'}, Type: <class 'dict'>
Value: {1, 2, 3}, Type: <class 'set'>
Value: None, Type: <class 'NoneType'>

5. Write a python program to check if a given character is a vowel or not.

In [ ]:
ch = input("Enter Character To Know if it is Vowal: ").lower()
vowal = ['a', 'e', 'i', 'o', 'u']
if ch in vowal:
    print("Character is Vowal")
else:
    print("Character is Not Vowal")

Enter Character To Know if it is Vowal: A
Character is Vowal

6. Write a python program for the library charges to fine for books returned late. Following are the fines:
- First five days: 40 paisa per day.
- Six to ten day: 65 paisa per day.
- Above ten days: 80 paisa per day

In [ ]:
days_book_is_lent = int(input("Enter Days Book is Returned late: "))

if days_book_is_lent <= 5:
  return_fee = days_book_is_lent * 40
elif days_book_is_lent > 5 and days_book_is_lent <= 10:
  return_fee = days_book_is_lent * 65
else:
  return_fee = days_book_is_lent * 80

print(f"Fine is: {return_fee}")

Enter Days Book is Returned late: 6
Fine is: 390

7. Write a python program to count odd numbers from given three numbers and display maximum odd number.

In [ ]:
print("Enter Three Number to Find Count and max of odd Numbers:")

odd_numbers = []
for i in range(3):
  odd_numbers.append(int(input(f"Enter Number {i+1}: ")))

odd_num_count = 0

# This Declare Negative Infinity
odd_max_num = float("-inf")

for num in odd_numbers:
  if num % 2 == 1:
    odd_num_count = odd_num_count + 1
    if num >= odd_max_num:
      odd_max_num = num

print(f"""
==========================================
Odd Number Count: {odd_num_count}
Max Odd Number: {odd_max_num}
==========================================
""")

Enter Three Number to Find Count and max of odd Numbers:
Enter Number 1: 1
Enter Number 2: 3
Enter Number 3: 4

==========================================
Odd Number Count: 2
Max Odd Number: 3
==========================================

8. Enter the following statements into the interpreter and note which ones produce an error, give reason for error:
    1. str1  = “welcome” <br>
       print (str1*2)
    1. 15 % 12
    1. print (18.0 // 4)
    1. 7<=7
    1. -1<>-1.0
    1. -5 is -5.0
    1. print('Steve's " Laptop"')

In [ ]:
str1 = "welcome"
print(f"1: {str1*2}")

1: welcomewelcome

In [ ]:
15 % 12

3

In [ ]:
18 // 4

4

In [ ]:
7 <= 7

True

In [ ]:
-1<>-1.0

SyntaxError: invalid syntax (ipython-input-1471376502.py, line 1)

The error SyntaxError: invalid syntax in the selected cell is because the `<>` operator is no longer valid in **Python 3**.

In [ ]:
-5 is -5.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipython-input-2075222145.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  -5 is -5.0

False

In [ ]:
print('Steve`s " Laptop"')

Steve`s " Laptop"

## Practice Exercise:

1. Write a Python program that takes basic product information (product name, price, quantity, manufacturer) from the user and displays it in a formatted catalog-style output using proper spacing and alignment.

In [4]:
product_name = input("Enter Product Name: ")
product_price = input("Enter Product Price: ")
product_quantity = input("Enter Product Quantity: ")
product_manufacturer = input("Enter Product Manufacturer: ")

print(f'''
===========================
Product Name: {product_name}
Product Price: {product_price}
Product Quantity: {product_quantity}
Product Manufacturer: {product_manufacturer}
===========================
''')

Enter Product Name: T-Shirt
Enter Product Price: 700
Enter Product Quantity: 15
Enter Product Manufacturer: Aaoji Shopy Pvt Ltd

===========================
Product Name: T-Shirt
Product Price: 700
Product Quantity: 15
Product Manufacturer: Aaoji Shopy Pvt Ltd
===========================

2. Write a Python program that takes a student's marks in 5 subjects (out of 100) and calculates their percentage and grade (A: ≥90%, B: ≥80%, C: ≥70%, D: ≥60%, F: <60%). Display the results in a formatted output.

In [6]:
student_marks = []

for i in range(5):
  student_marks.append(int(input(f"Enter Marks for Subject {i+1}: ")))

total_student_marks = 0

for i in range(5):
  total_student_marks = total_student_marks + student_marks[i]

percentage = total_student_marks / 500 * 100

if percentage >= 90:
  grade = "A"
elif percentage >= 80:
  grade = "B"
elif percentage >= 70:
  grade = "C"
elif percentage >= 60:
  grade = "D"
else:
  grade = "F"

print(f"""
==========================================
Student Marks: {student_marks}
Student Percentage: {percentage}
Student Grade: {grade}
==========================================
""")

Enter Marks for Subject 1: 90
Enter Marks for Subject 2: 99
Enter Marks for Subject 3: 80
Enter Marks for Subject 4: 89
Enter Marks for Subject 5: 93

==========================================
Student Marks: [90, 99, 80, 89, 93]
Student Percentage: 90.2
Student Grade: A
==========================================

3. Create a program that takes radius and height of a cylinder from user and calculates its volume (π × r² × h) and surface area (2π × r² + 2π × r × h). Display the results with proper units.

In [ ]:
cylinder_radius = float(input("Enter Cylinder Radius: "))
cylinder_height = float(input("Enter Cylinder Height: "))

cylinder_volume = 3.14 * cylinder_radius ** 2 * cylinder_height
cylinder_surface_area = 2 * 3.14 * cylinder_radius ** 2 + 2 * 3.14 * cylinder_radius * cylinder_height

print(f"""
===============================
Cylinder Radius: {cylinder_radius}
Cylinder Height: {cylinder_height}
Cylinder Volume: {cylinder_volume}
Cylinder Surface Area: {cylinder_surface_area}
===============================
""")

Enter Cylinder Radius: 10
Enter Cylinder Height: 5

===============================
Cylinder Radius: 10.0
Cylinder Height: 5.0
Cylinder Volume: 1570.0
Cylinder Surface Area: 942.0
===============================

4. Write a program to take user's first name, last name, and birth year, then create an email ID and username following this pattern:
- Email: firstname.lastname@uvpce.edu.in
- Username: lastname_firstnameYY (YY is last 2 digits of birth year)

In [ ]:
user_first_name = input("Enter Your First Name: ")
user_last_name = input("Enter Your Last Name: ")
user_birth_year = input("Enter Your Birth Year: ")

email = f"{user_first_name}.{user_last_name}@uvpce.edu.in"
username = f"{user_last_name}_{user_first_name}{user_birth_year[-2:]}"

print(f"""
===============================
Email: {email}
Username: {username}
===============================
""")

Enter Your First Name: vatsal
Enter Your Last Name: patel
Enter Your Birth Year: 2004

===============================
Email: vatsal.patel@uvpce.edu.in
Username: patel_vatsal04
===============================

5. Develop a program that takes length measurements in centimeters and displays equivalent values in meters, kilometers, inches, and feet using appropriate mathematical operations (1 inch = 2.54 cm, 1 foot = 30.48 cm).

In [ ]:
measurement_in_cm = float(input("Enter Measurement in Centimeter: "))
measurement_in_m = measurement_in_cm / 100
measurement_in_km = measurement_in_cm / 100000
measurement_in_inch = measurement_in_cm / 2.54
measurement_in_feet = measurement_in_cm / 30.48

print(f"""
===============================
Measurement in Centimeter: {measurement_in_cm}
Measurement in Meter: {measurement_in_m}
Measurement in Kilometer: {measurement_in_km}
Measurement in Inch: {measurement_in_inch}
Measurement in Feet: {measurement_in_feet}
===============================
""")

Enter Measurement in Centimeter: 100000

===============================
Measurement in Centimeter: 100000.0
Measurement in Meter: 1000.0
Measurement in Kilometer: 1.0
Measurement in Inch: 39370.07874015748
Measurement in Feet: 3280.839895013123
===============================

6. Create a program that takes Principal amount (P), Rate of interest (R), and Time period (T) in months from user and calculates:

- Simple Interest: (P × R × T)/100
- Total Amount: P + SI

Display all values properly formatted.

In [7]:
principal_amount = float(input("Enter Principal Amount: "))
rate_of_interest = float(input("Enter Rate of Interest: "))
time_period = float(input("Enter Time Period in Months: "))

simple_interest = (principal_amount * rate_of_interest * time_period) / 100

total_amount = principal_amount + simple_interest

print(f"""
===============================
Principal Amount: {principal_amount}
Rate of Interest: {rate_of_interest}
Time Period: {time_period}
Simple Interest: {simple_interest}
Total Amount: {total_amount}
===============================
""")

Enter Principal Amount: 5000
Enter Rate of Interest: 10
Enter Time Period in Months: 15

===============================
Principal Amount: 5000.0
Rate of Interest: 10.0
Time Period: 15.0
Simple Interest: 7500.0
Total Amount: 12500.0
===============================